.venv/
runs/
build/*
!build/lattice_echo.o
!build/lattice_fwd_neon.o
proto/*.png
video/node_modules/
video/clips/
video/*.wav
video/*.mp4
video/*.log
video/stills/
video/q*.png
video/qcheck.jpg
proto/page.jpg
proto/lab_*.jpg
proto/vse_chart.jpg
proto/gao_app2.png
proto/rot*_8cycles.png
